<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="200" alt="Logo_gov" src="../assets/images/logo_gov.png">
  <img width="150" alt="Logo_jlm" src="../assets/images/logo_jlm.png">


</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.marine.gov.my/">Laman Web Rasmi Jabatan Laut Malaysia</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://marine45.marine.gov.my/public/ENPage1.aspx">MARINE DEPARTMENT MALAYSIA</a></h2>
  </li>
</ul>

